:root {
    --primary: #561f76;
    --iconColor: #ffffff;
    --textColor:#000000;
    --buttonTextColor:#ffffff;
    --gradint:linear-gradient(to right top, #ffffff, #f7f5fb, #f1eaf6, #ecdff0, #e9d3e9);
}
@font-face {
    font-family:"NovaBotFont";
    src: url("https://novacorpweb.azurewebsites.net/assets/fonts/IBMPlexSans-Regular.ttf") format("ttf"); 
} 
  
body {
    font-size: 100%;
    font-family: "Helvetica", Sans-serif;
}
/* span.css-pkbazv.e1fqkh3o5{
    color: var(--primary); 
}
span.css-10trblm.e16nr0p30{
    font-family: "Helvetica", Sans-serif;
    font-size: 30px;
    color: var(--primary);
}
section.css-163ttbj.e1fqkh3o11{
    background-color: var(--primary);
}
button.css-9s5bis.edgvbvh3{
    background-color: var(--white);
}
svg.e1fb0mya1.css-fblp2m.ex0cdmw0{
    color: black;
}
a.css-17nby6i.e1fqkh3o6{
    background-color:var(--white);
}
a.css-1hverof.e1fqkh3o6{
    background-color: #E9D6EB;
}
span.css-17lntkn.e1fqkh3o5{
    color: var(--primary);
}
label.css-81oif8.effi0qh3{
    color: black;
}
button.css-1x8cf1d.edgvbvh10{
    fill: var(--white);
    color: var(--white);
    background-color: var(--primary);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--primary);
}
button.css-1x8cf1d:focus:not(:active) {
    border-color: var(--white);
    color: var(--white);
}
button.css-1x8cf1d:focus {
    box-shadow: var(--primary) 0px 0px 0px 0.2rem;
    outline: none;
}
footer{
    display: none !important;
}
button.css-yyj0jg.edgvbvh3{
    color: var(--white);
}
label.css-klqnuk.ehezqtx4{
    color: var(--white);
}
div.css-184tjsw.e16nr0p34>p{
    color: black;
}
button.step-down.css-lmqt2d.e1jwn65y1:hover{
    background-color: var(--primary);
}
button.step-up.css-lmqt2d.e1jwn65y1:hover{
    background-color: var(--primary);
}
button.css-9s5bis.edgvbvh3:focus{
    box-shadow: var(--primary) 0px 0px 0px 0.2rem;
}
.css-184tjsw p{
    font-size: 18px; 
} 

[data-testid|="stHeader"]{
    background-color: var(--primary);
    height: 3rem; 
} */
/* [data-testid="stSidebarNav"]::before {
    content: "Novacept";
    margin-left: 20px;
    margin-top: 20px;
    font-size: 20px;
    position: relative;
    top: 100px;
} */

/* button.step-down.css-1r8izn3.e1jwn65y1:hover{
    background-color: var(--primary);
}
button.step-up.css-1r8izn3.e1jwn65y1:hover{
    background-color: var(--primary);
}

label.css-81oif8.effi0qh3{
    background: white;
    padding: 5px;
    border-radius: 5px;
}
[data-testid="stTickBar"] {
    color: var(--white);
}
[data-testid="stMarkdownContainer"] {
    color: var(--white);
}
@media (max-width: 612px) {
    [data-testid|="stSidebar"]{
        background-color: var(--primary);
    }
    div.block-container.css-18e3th9.egzxvld2{
        padding: 4rem 1rem 10rem !important;
    }
    span.css-10trblm.e16nr0p30{
        font-size: 94% !important;
    }
} */



[data-testid="stSidebar"] {
    background-color: #e1d2e9 !important;
    background-image: linear-gradient(to bottom, #ffffff, #cdc6e0, #a18ebf, #7a589b, #561f76);
}
footer{
    display: none !important;
}


[data-testid="stHeader"] {
    background-color: var(--primary);
}

button{
    background-color: var(--primary) !important;
    color: var(--buttonTextColor) !important;
}
button:hover{
    background-color: var(--primary) !important;
    color: var(--buttonTextColor) !important;
    border-color: var(--buttonTextColor) !important;
}

button:focus:not(:active) {
    border-color: var(--buttonTextColor) !important;
    color: var(--buttonTextColor) !important;
}
button:focus {
    box-shadow: var(--primary) !important;
    outline: none !important;
}
button:active{
    border-color: var(--primary) !important;
    color: var(--buttonTextColor) !important;
}

a.css-1hverof{
    background-color: var(--buttonTextColor) !important;
}
a.css-17nby6i:visited{
    background-color: rgb(250 234 255 / 89%) !important;
}
a.css-17nby6i{
    background-color: #ccb7d58a !important; 
}
a.css-17nby6i:hover{
    background-color: rgb(250 234 255 / 89%)  
}
section.main{
    background-image: var(--gradint) !important;
    background-color: #efedef;
}
.stTextInput>div{
    background-color: rgb(255 255 255) !important;
    border-bottom-color: rgb(0 5 16) !important;  
    height: 40.4px !important;
}


[data-testid="tooltipHoverTarget"]>button {
    height: 40.4px !important;
}

textarea{
    background-color: var(--buttonTextColor) !important;
    min-height: 150px !important;
}
.css-ht50i{
    margin-top: 2.4rem !important;
}

.block-container{
    padding-top: 0 !important;
}

.css-1k67eer{
    margin-top: 3rem !important;
}

input{
    background-color: var(--buttonTextColor) !important;
}
.css-yzb2at.e13vu3m50{
    color: var(--buttonTextColor) !important;
}
.stAlert>div{
    background-color: #561f76 !important;
    margin-top: 1rem !important;
}
h1,#knowledge-base-for-gts{
    color: var(--primary) !important;
}
.css-j0nf8i{
    color: var(--buttonTextColor) !important;
}

[data-testid|="stStatusWidget"]>div>label{
   color: var(--buttonTextColor);
}
[data-testid|="stStatusWidget"]>div>img{
    filter: drop-shadow(0px 0px 4px #ffffff) !important;
}

.css-demzbm{
    background-color: var(--textColor);
}
.css-demzbm:focus{
    box-shadow: rgb(36 31 31 / 50%) 0px 0px 0px 0.2rem !important;
}


.StyledThumbValue{
    color: var(--textColor);
}

input,textarea{ color: var(--textColor) !important;
    caret-color: var(--textColor) !important;
}
[data-testid="stText"]{color: var(--textColor) !important;}
h2{color: var(--textColor) !important;}
label{color: var(--textColor) !important;}
a>span{color: var(--textColor) !important;}
.css-klqnuk{color: var(--buttonTextColor) !important;}
h3,#my-knowledge-header-subheade{color: var(--textColor) !important;}

@media (max-width: 640px){
    [data-testid|="stHorizontalBlock"]{
        flex-wrap: nowrap !important;
    }
    .css-ht50i {
        min-width: 40px !important;
    }
    .css-1bb354k {
        min-width: auto !important;
    }
    .css-keje6w {
        min-width: auto !important;
    }
}

@media (max-width:576px){
    [data-testid="stTooltipIcon"]>div>button.css-1x8cf1d {
        height: 40.45px !important;
    }
}